<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022204533804-q4l6ichije1qjp4b595o843u7uqcaiik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022204533804-q4l6ichije1qjp4b595o843u7uqcaiik</string>
	<key>API_KEY</key>
	<string>AIzaSyAXODNJ85xe26wcM4r18EY6PvG5GlpWjds</string>
	<key>GCM_SENDER_ID</key>
	<string>1022204533804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AgataMenes.BookATable</string>
	<key>PROJECT_ID</key>
	<string>bookatable-3d931</string>
	<key>STORAGE_BUCKET</key>
	<string>bookatable-3d931.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022204533804:ios:fbbb2dfd592372574ec589</string>
</dict>
</plist>